.root {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background-image: url('./AddHeroPage.png');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.formCard {
  aspect-ratio: 897/1535;
  height: 90%;
  margin: auto 0;
  border-radius: 24px;
  padding: 0 32px;
  box-shadow: 0 40px 40px rgba(15, 23, 42, 0.18);
  position: relative;
  isolation: isolate;
}

.formCard::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./Form.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.75;
  z-index: -1;
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 5px;
  background: radial-gradient(
    ellipse at center,
    rgba(250, 247, 240, 1) 0%,
    rgba(250, 247, 240, 0.8) 60%,
    rgba(250, 247, 240, 0.0) 80%,
    transparent 100%
  );
  width: fit-content;
  margin: 0 auto;
}

.formField, .genderFormField {
  padding: 6px 3px;
}
.hebrewInput {
  direction: rtl;
}
.englishInput {
  direction: ltr;
}

.selectInput {
  width: 100%;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: rgba(251, 244, 243, 1);
  height: 42px;
}

.formFieldShortContainer {
  display: flex;
  justify-content: space-between;
}

.formFieldShort {
  width: 50%;
}

.formField label {
  font-size: 20px;
}

.formField input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px 10px;
  width: calc(100% - 20px);
  background-color: rgba(251, 244, 243, 1);
}

.formField textarea {
  border-radius: 5px;
  height: 60px;
  padding: 5px 10px;
  width: calc(100% - 20px);
  background-color: rgba(251, 244, 243, 1);
}

.uploadImageInput {
  cursor: pointer;
  display: flex;
  gap: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 8px;
  margin: 10px 0;
  width: fit-content;
  background-color: rgba(251, 244, 243, 1);
}

.uploadImageInput label {
  margin: auto 0;
}
.uploadImageInput button {
  border: none;
  background: none;
}

.submitFormButton {
  max-width: 300px;
  width: 80%;
  margin: auto;
  background-image: url("./SubmitFormButton.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 442/83;
  border: none;
  border-radius: 55px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
}