.pageContainer {
  background-image: url("./SoldierPageComputer.PNG");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.pageContent {
  position: relative;
  padding: 20px;
  height: calc(100% - 40px);
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 768px) {
  .pageContent {
    background-image: url("./SoldierPageMobile.PNG");
  }
}

.heroGrid {
  display: grid;
  gap: 5px;
  align-items: start;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;
  height: 100%;
}

.soldierName {
  grid-column: 1;
  grid-row: 1;
}

.soldierBasicInfo {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  isolation: isolate;
  padding: 15px;
}

.soldierBasicInfo::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./TextCon.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  z-index: -1;
}

.soldierBasicInfo p {
  margin: 0;
}

.soldierImage {
  grid-column: 2;
  grid-row: 1 / span 3;
  height: 100%;
}

.heroImage {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 12px;
  object-position: top center;
}

.soldierBio {
  grid-column: 1;
  grid-row: 3;
  position: relative;
  isolation: isolate;
  height: 82%;
  padding: 2% 0 6% 0;
  overflow-y: auto;
}


.soldierBio::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./TextCon.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}


.soldierBioContent {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 0 4%;
}

.soldierBioContentLtr {
  direction: rtl;
}

.soldierBioContentLtr>* {
  direction: ltr;
}

.soldierBioContentRtl {
  direction: ltr;
}

.soldierBioContentRtl>* {
  direction: rtl;
}