
.pageContent {
  position: relative;
  padding: 0 10%;
  padding-top: 24px;
  padding-bottom: 48px;
  height: calc(100% - 24px - 48px);
  background-image: url("./SoldierPage.PNG");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.heroGrid {
  display: grid;
  gap: 5px;
  align-items: start;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;
  height: 100%;
}

.soldierName {
  grid-column: 1;
  grid-row: 1;
}

.soldierBasicInfo {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  isolation: isolate;
  padding: 3%;
}

.soldierBasicInfo::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./TextCon.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  z-index: -1;
}

.soldierImage {
  grid-column: 2;
  grid-row: 1 / span 3; /* occupies intro + next row */
}

.heroImage {
  min-height: 500px;
  max-height: 90vh;
  display: block;
  border-radius: 12px;
}

.soldierBio {
  grid-column: 1;
  grid-row: 3;
  position: relative;
  isolation: isolate;
  height: 92%;
  padding: 2% 0 6% 0;
  overflow-y: auto;
}


.soldierBio::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./TextCon.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}


.soldierBioContent {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 0 4%;
}

.soldierBioContentLtr {
  direction: rtl;
}

.soldierBioContentLtr > * {
  direction: ltr;
}

.soldierBioContentRtl {
  direction: ltr;
}

.soldierBioContentRtl > * {
  direction: rtl;
}
