.row {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
  justify-content: center;
  gap: 5px;
  margin: 0 auto;
  height: 100%;
}

@media (max-width: 1100px) {
  .row > *:nth-child(2) {
    display: none;
  }
}

@media (max-width: 800px) {
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    width: 97%;
    max-width: 500px;
    height: auto;
    align-items: stretch;
    justify-items: stretch;
  }

  .row > * {
    width: 100% !important;
    max-width: 100% !important;
    flex: unset !important;
  }

  .row > *:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .row > *:nth-last-child(1) {
    grid-column: 3;
    grid-row: 1;
  }

  .row > *:nth-child(3):not(:last-child) {
    grid-column: 1;
    grid-row: 2;
  }
  .row > *:nth-child(4):not(:last-child) {
    grid-column: 2;
    grid-row: 2;
  }
  .row > *:nth-child(5):not(:last-child) {
    grid-column: 3;
    grid-row: 2;
  }
}
