.root {
  background-image: url('./HomePage.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.heroSection {
  width: 100%;
  height: 50%;
}

.heroContainer {
  width: 30%;
  margin: 0 auto;
  height: 100%;
  opacity: 0;
}

.featuredSection {
  height: 49%;
}
